In [3]:
import pandas as pd
import numpy as np
import os
import scipy
import string
import csv
#import nltk
import nltk
#nltk.download('stopwords')
#nltk.download('punkt')
#nltk.download('wordnet')
#immport tokenize, stopwords
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
#import warnings
import warnings
#import sklearn and matplotlib
from sklearn import preprocessing
import spacy
import matplotlib.pyplot as plt
import plotly.graph_objects as go
#import warning


warnings.filterwarnings('ignore')
import re

In [4]:
#import the data
train=pd.read_csv('train.csv')
train1=train.copy()
train.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
Q1=train1.iloc[:,[2,4]]
Q2=train1.iloc[:,[1,3]]
df = pd.DataFrame( np.concatenate( (Q2.values, Q1.values), axis=0 ) )
df.columns = ['id','question' ]
df

            id                                           question
0            1  What is the step by step guide to invest in sh...
1            3  What is the story of Kohinoor (Koh-i-Noor) Dia...
2            5  How can I increase the speed of my internet co...
3            7  Why am I mentally very lonely? How can I solve...
4            9  Which one dissolve in water quikly sugar, salt...
...        ...                                                ...
808575  379845  How many keywords are there in PERL Programmin...
808576  155606         Is it true that there is life after death?
808577  537929                                  What's this coin?
808578  537931  I am having little hairfall problem but I want...
808579  537933      What is it like to have sex with your cousin?

[808580 rows x 2 columns]

In [6]:
df=df.dropna(subset="question")

In [7]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
# tokenizing the sentences
tok_quora=[word_tokenize(wrd) for wrd in df.question]
#creating training data
Quora_training_data=[TaggedDocument(d, [i]) for i, d in enumerate(tok_quora)]

In [8]:

doc_model = Doc2Vec(Quora_training_data, vector_size = 100, window = 5, min_count = 3, epochs = 25)

In [9]:
def fetch_embeddings(model,tokens):
  tokens = [x for x in word_tokenize(tokens) if doc_model.wv.has_index_for(x)]
  #if words is not present then vector becomes zero
  if len(tokens)>=1:
    return doc_model.infer_vector(tokens)
  else:
    return np.array([0]*100)
#Storing all embedded sentence vectors in a list
#defining empty list and iterating through all the questions
doc_embeddings=[]
for w in df.question:
    doc_embeddings.append(list(fetch_embeddings(doc_model, w)))
#conveting it into array
doc_embeddings=np.asarray(doc_embeddings)

In [10]:
doc_embeddings

array([[ 0.17614569, -0.12469608,  0.12128989, ..., -0.11563963,
         0.11872682,  0.08196142],
       [ 0.08612118, -0.0506224 ,  0.0098575 , ..., -0.21481727,
        -0.05770696,  0.134688  ],
       [-0.09790493, -0.06947927, -0.01982409, ..., -0.15761417,
         0.1562396 ,  0.08374484],
       ...,
       [-0.05497271,  0.01028118,  0.05481956, ...,  0.02027088,
         0.00684827, -0.07292562],
       [ 0.30667263, -0.17856817,  0.02931747, ..., -0.22138298,
        -0.02321205,  0.34284461],
       [-0.016905  ,  0.03407007,  0.00077826, ..., -0.13858332,
        -0.05171331,  0.00330564]])

In [11]:
from sentence_transformers import SentenceTransformer

In [12]:

sbert_model = SentenceTransformer('paraphrase-MiniLM-L12-v2',)

In [13]:
x=[i for i in df.question]
#lets get embeddings for each question
sentence_embeddings_BERT= sbert_model.encode(x)
#lets see the shape
sentence_embeddings_BERT.shape

(808577, 384)

In [14]:
import torch
from pytorch_pretrained_bert import OpenAIGPTTokenizer, OpenAIGPTModel
#initializing the tokenizer
tok_gpt= OpenAIGPTTokenizer.from_pretrained('openai-gpt')
#Initializing the gpt Model
model_gpt= OpenAIGPTModel.from_pretrained('openai-gpt')
model_gpt.eval()

100%|███████████████████████████████████████████████████████████████████████| 815973/815973 [00:01<00:00, 748487.32B/s]
100%|███████████████████████████████████████████████████████████████████████| 458495/458495 [00:00<00:00, 492900.08B/s]
ftfy or spacy is not installed using BERT BasicTokenizer instead of SpaCy & ftfy.
100%|████████████████████████████████████████████████████████████████| 478750579/478750579 [06:08<00:00, 1297480.60B/s]
100%|█████████████████████████████████████████████████████████████████████████████| 656/656 [00:00<00:00, 432416.07B/s]

OpenAIGPTModel(
  (tokens_embed): Embedding(40478, 768)
  (positions_embed): Embedding(512, 768)
  (drop): Dropout(p=0.1, inplace=False)
  (h): ModuleList(
    (0): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (1): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (2): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (3): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (4): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (5): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (6): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (7): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (8): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (9): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (10): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
    (11): Block(
      (attn): Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_1): BertLayerNorm()
      (mlp): MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): BertLayerNorm()
    )
  )
)

In [15]:
def Fetch_gpt_vectors(question):
  #tokenize words
  words = word_tokenize(question)
  emb = np.zeros((1,768))
  #get vectore for each word
  for word in words:
      w= tok_gpt.tokenize(word)
      indexed_words = tok_gpt.convert_tokens_to_ids(w)
      tns_word = torch.tensor([indexed_words])
      with torch.no_grad():
          try:
     #get mean vector
            emb += np.array(torch.mean(model_gpt(tns_word),1))
          except Exception as e:
            continue
  emb /= len(words)
  return emb

In [16]:
gpt_emb = np.zeros((1000, 768))
# get vectors
for v in range(1000):
    txt = df.loc[v,'question']
    gpt_emb[v] = Fetch_gpt_vectors(txt)
gpt_emb

array([[ 0.12315906,  0.14082006, -0.065032  , ...,  0.25523008,
        -0.29333042,  0.13614363],
       [ 0.29858677,  0.10205473,  0.13587524, ...,  0.06204159,
        -0.12169122,  0.01781078],
       [ 0.12268611,  0.04076878,  0.03162665, ...,  0.16541367,
        -0.29518024,  0.06638579],
       ...,
       [ 0.18672554,  0.0039593 ,  0.03602654, ...,  0.23809854,
        -0.33544572, -0.05039982],
       [ 0.21165202,  0.12251672,  0.10084963, ...,  0.12687523,
        -0.27586625,  0.13541659],
       [ 0.15088044, -0.01128635,  0.14384873, ...,  0.28454993,
        -0.3060212 ,  0.05678449]])

In [27]:
from sklearn.metrics.pairwise import cosine_similarity
from numpy import dot
from numpy.linalg import norm
#def cosine_similarity(vec1,vec2):
    #find the score
    #return dot(vec1, vec2)/(norm(vec1)*norm(vec2))

In [28]:
def top_n_questions(user,embeddings,df):
    #getting cosine similarities of overall data set with input queries from user
    x=cosine_similarity(user,embeddings).tolist()[0]
    temp_list=list(x)
    #sorting
    sort_res = sorted(range(len(x)), key = lambda sub: x[sub])[:]
    sim_score=[temp_list[i] for i in reversed(sort_res)]
    #print
    print(sort_res[0:5])
    #index fetching
    L=[]
    for i in reversed(sort_res):
        L.append(i)
    #get the index from dataframe
    return df.iloc[L[0:5], [0,1]]

In [29]:
def get_input_vector(query,model):
    print(query)
    #Doc2vec model
    if model=='Doc2Vec':
      k=fetch_embeddings(doc_model,query)
      k=k.reshape(1, -1)
    # sbert  model
    elif model=='BERT':
      k=sbert_model.encode(str(query))
      k=k.reshape(1, -1)
    # gpt model
    elif model=='GPT':
      k=Fetch_gpt_vectors(query)
    return k

In [30]:
top_n_questions(get_input_vector('How is Narendra Modi as a person?','Doc2Vec'),doc_embeddings,df)

How is Narendra Modi as a person?
[719952, 478487, 488544, 365768, 364721]

            id                               question
2166      4310      How is Narendra Modi as a person?
527387    4310      How is Narendra Modi as a person?
491967    4310      How is Narendra Modi as a person?
108565  178349  How is Sachin Tendulkar as in person?
596409  291671        How is Jimmy Wales as a person?

In [31]:
top_n_questions(get_input_vector('How is Narendra Modi as a person?','GPT'),gpt_emb,df)

How is Narendra Modi as a person?
[674, 341, 119, 923, 67]

       id                                           question
812  1619                                     What is a GDP?
507  1012      What is Zika virus and how is it transmitted?
790  1575  Can fossil records be used as evidence for evo...
657  1311                                  What are genders?
542  1082                              What is bss engineer?

In [32]:
top_n_questions(get_input_vector('How is Narendra Modi as a person?','BERT'),sentence_embeddings_BERT,df)

How is Narendra Modi as a person?
[114737, 470009, 113689, 34383, 603254]

            id                              question
527387    4310     How is Narendra Modi as a person?
491967    4310     How is Narendra Modi as a person?
2166      4310     How is Narendra Modi as a person?
616382  147622  What's Narendra Modi like in person?
87677   147622  What's Narendra Modi like in person?

In [37]:
import numpy as np
import scipy
import os
import string
import csv
#import nltk
import nltk

#import tokenizer
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
#import warnings
import warnings
#import sklearn and matplotlib
from sklearn import preprocessing
import spacy
import matplotlib.pyplot as plt
import plotly.graph_objects as go
#import warning
warnings.filterwarnings('ignore')
import re
from string import punctuation
from nltk.stem import SnowballStemmer



from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
#import Tokenizer from keras
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from sklearn.model_selection import train_test_split
#importing Keras necessary libraries
from keras.models import Sequential, Model
from keras.layers import Input, Embedding, Dense, Dropout, LSTM

In [45]:
quora_questions=pd.read_csv('train.csv')
quora_questions.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [47]:
quora_questions=quora_questions.dropna(subset=["question1","question2"])

In [48]:
#function for data cleaning
def txt_process(input_text):
    # Removing punctuation from input text
    input_text = ''.join([x for x in input_text if x not in punctuation])
    # Cleaning the text
    input_text = re.sub(r"[^A-Za-z0-9]", " ", input_text)
    input_text = re.sub(r"\'s", " ", input_text)
    # remove stop words
    input_text = input_text.split()
    input_text = [x for x in input_text if not x in stop_words]
    input_text = " ".join(input_text)
    # Return a list of words
    return(input_text)

In [49]:
#applying above function on both question ids
quora_questions['question1_cleaned'] = quora_questions.apply(lambda x: txt_process(x['question1']), axis = 1)
quora_questions['question2_cleaned'] = quora_questions.apply(lambda x: txt_process(x['question2']), axis = 1)

In [50]:
#stacking
question_text = np.hstack([quora_questions.question1_cleaned, quora_questions.question2_cleaned])
#tokenizing
tokenizer = Tokenizer()
tokenizer.fit_on_texts(question_text)
#creating new columns for both ids where tokenized form of sentence is created
quora_questions['tokenizer_1'] = tokenizer.texts_to_sequences(quora_questions.question1_cleaned)
quora_questions['tokenizer_2'] = tokenizer.texts_to_sequences(quora_questions.question2_cleaned)
quora_questions.head(5)

,id,qid1,qid2,question1,question2,is_duplicate,question1_cleaned,question2_cleaned,tokenizer_1,tokenizer_2
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What step step guide invest share market india,What step step guide invest share market,"[1, 1221, 1221, 2471, 481, 669, 296, 9]","[1, 1221, 1221, 2471, 481, 669, 296]"
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,What story Kohinoor KohiNoor Diamond,What would happen Indian government stole Kohi...,"[1, 465, 11810, 11810, 4500]","[1, 14, 117, 36, 163, 11186, 11810, 11810, 450..."
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,How I increase speed internet connection using...,How Internet speed increased hacking DNS,"[3, 2, 145, 350, 274, 1750, 89, 2713]","[3, 274, 350, 3206, 1239, 11172]"
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,Why I mentally lonely How I solve,Find remainder math2324math divided 2423,"[4, 2, 2701, 2623, 3, 2, 544]","[40, 4041, 84518, 2356, 84519]"
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,Which one dissolve water quikly sugar salt met...,Which fish would survive salt water,"[8, 15, 7038, 160, 36270, 1834, 1948, 10451, 1...","[8, 1848, 14, 1141, 1948, 160]"

In [51]:
quora_questions['tokenizer'] = quora_questions['tokenizer_1'] + quora_questions['tokenizer_2']
#defining max length






m_len = 500
#max tokens
max_token = np.max(quora_questions.tokenizer.max())

In [52]:
#defining X and target data
y = quora_questions[['is_duplicate']]
X = quora_questions[['tokenizer']]
#padding X with a maximum length
X = sequence.pad_sequences(X.tokenizer, maxlen = m_len)
#splitting data into train and test
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.25, random_state=10)

In [53]:
#defining the LSTM model
quora_model = Sequential()
#adding embeedding layer
quora_model.add(Embedding(70000, 64))
#adding drop out layer
quora_model.add(Dropout(0.15))
#LSTM layer
quora_model.add(LSTM(16))
#adding sigmoid layer


quora_model.add(Dense(1, activation = 'sigmoid'))
#defining loss and optimizer
quora_model.compile(loss='binary_crossentropy', optimizer='SGD', metrics=['accuracy'])
quora_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 64)          4480000

 dropout (Dropout)           (None, None, 64)          0

 lstm (LSTM)                 (None, 16)                5184

 dense (Dense)               (None, 1)                 17

=================================================================
Total params: 4,485,201
Trainable params: 4,485,201
Non-trainable params: 0
_________________________________________________________________

In [62]:
quora_model.fit(X_train, y_train, epochs = 20, batch_size=64,validation_data=(X_test,y_test))

Epoch 1/20
4738/4738 [==============================] - 150s 32ms/step - loss: 0.5995 - accuracy: 0.6766 - val_loss: 0.5821 - val_accuracy: 0.6932
Epoch 2/20
4738/4738 [==============================] - 153s 32ms/step - loss: 0.5647 - accuracy: 0.7115 - val_loss: 0.5533 - val_accuracy: 0.7225
Epoch 3/20
4738/4738 [==============================] - 148s 31ms/step - loss: 0.5470 - accuracy: 0.7262 - val_loss: 0.5476 - val_accuracy: 0.7255
Epoch 4/20
4738/4738 [==============================] - 143s 30ms/step - loss: 0.5359 - accuracy: 0.7344 - val_loss: 0.5500 - val_accuracy: 0.7263
Epoch 5/20
4738/4738 [==============================] - 141s 30ms/step - loss: 0.5276 - accuracy: 0.7404 - val_loss: 0.5300 - val_accuracy: 0.7404
Epoch 6/20
4738/4738 [==============================] - 144s 30ms/step - loss: 0.5210 - accuracy: 0.7452 - val_loss: 0.5242 - val_accuracy: 0.7436
Epoch 7/20
4738/4738 [==============================] - 145s 31ms/step - loss: 0.5163 - accuracy: 0.7486 - val_loss: 0.5207 - val_accuracy: 0.7471
Epoch 8/20
4738/4738 [==============================] - 144s 30ms/step - loss: 0.5115 - accuracy: 0.7520 - val_loss: 0.5189 - val_accuracy: 0.7475
Epoch 9/20
4738/4738 [==============================] - 144s 30ms/step - loss: 0.5080 - accuracy: 0.7544 - val_loss: 0.5176 - val_accuracy: 0.7486
Epoch 10/20
4738/4738 [==============================] - 145s 31ms/step - loss: 0.5046 - accuracy: 0.7566 - val_loss: 0.5159 - val_accuracy: 0.7484
Epoch 11/20
4738/4738 [==============================] - 146s 31ms/step - loss: 0.5017 - accuracy: 0.7581 - val_loss: 0.5125 - val_accuracy: 0.7517
Epoch 12/20
4738/4738 [==============================] - 144s 30ms/step - loss: 0.4987 - accuracy: 0.7601 - val_loss: 0.5186 - val_accuracy: 0.7446
Epoch 13/20
4738/4738 [==============================] - 146s 31ms/step - loss: 0.4960 - accuracy: 0.7623 - val_loss: 0.5085 - val_accuracy: 0.7546
Epoch 14/20
4738/4738 [==============================] - 144s 30ms/step - loss: 0.4939 - accuracy: 0.7640 - val_loss: 0.5075 - val_accuracy: 0.7541
Epoch 15/20
4738/4738 [==============================] - 145s 31ms/step - loss: 0.4915 - accuracy: 0.7659 - val_loss: 0.5087 - val_accuracy: 0.7540
Epoch 16/20
4738/4738 [==============================] - 4419s 933ms/step - loss: 0.4890 - accuracy: 0.7666 - val_loss: 0.5077 - val_accuracy: 0.7532
Epoch 17/20
4738/4738 [==============================] - 151s 32ms/step - loss: 0.4870 - accuracy: 0.7684 - val_loss: 0.5127 - val_accuracy: 0.7528
Epoch 18/20
4738/4738 [==============================] - 150s 32ms/step - loss: 0.4853 - accuracy: 0.7689 - val_loss: 0.5084 - val_accuracy: 0.7524
Epoch 19/20
4738/4738 [==============================] - 151s 32ms/step - loss: 0.4829 - accuracy: 0.7706 - val_loss: 0.5038 - val_accuracy: 0.7587
Epoch 20/20
4738/4738 [==============================] - 146s 31ms/step - loss: 0.4813 - accuracy: 0.7714 - val_loss: 0.5041 - val_accuracy: 0.7584

In [63]:
import sklearn
from sklearn.metrics import classification_report
#prediction on train data
tr_prediction=quora_model.predict(X_train)
#replacing probabilities >0.5 with 1 and other 0
tr_prediction[tr_prediction>0.5]=1
tr_prediction[tr_prediction<0.5]=0
tr_prediction
#true values of train data
tr_true=y_train.values
#accuracy
Accuracy=sklearn.metrics.accuracy_score(np.array(tr_true),
                                     np.array(tr_prediction))
print(Accuracy)

#classification report with f1 score
print(classification_report(tr_true, tr_prediction, target_names=['Not similar','similar']))

0.7779232557756047
              precision    recall  f1-score   support

 Not similar       0.79      0.89      0.83    191262
     similar       0.76      0.59      0.66    111953

    accuracy                           0.78    303215
   macro avg       0.77      0.74      0.75    303215
weighted avg       0.78      0.78      0.77    303215

In [64]:
test_prediction=quora_model.predict(X_test)
#generating classes
test_prediction[test_prediction>0.5]=1
test_prediction[test_prediction<0.5]=0
test_prediction
#true values for test
test_true=y_test.values
# accuracy on test data
Accuracy=sklearn.metrics.accuracy_score(np.array(test_true),
                                     np.array(test_prediction))
print('Accuracy is %f'%(Accuracy*100)+' %')

print(classification_report(test_true, test_prediction, target_names=['Not similar','similar']))

Accuracy is 75.838016 %
              precision    recall  f1-score   support

 Not similar       0.77      0.87      0.82     63762
     similar       0.72      0.56      0.63     37310

    accuracy                           0.76    101072
   macro avg       0.75      0.72      0.73    101072
weighted avg       0.75      0.76      0.75    101072

In [65]:
def find_similarity_score(q1,q2):
  #clean first question
  Q1_C=  txt_process(q1)
  #print(q1)
  #clean first question
  Q2_C = txt_process(q2)
  #print(q2)
  #converting 1st question into tokens
  Q1_C = tokenizer.texts_to_sequences([Q1_C])
  #converting 2nd question into token
  Q2_C = tokenizer.texts_to_sequences([Q2_C])
  #combining both tokens as we did for train data
  Q_final = Q1_C[0] + Q2_C[0]
  #padding combined sequence to max length
  Q_Test = sequence.pad_sequences([Q_final], maxlen = 500)
  #predicting probability of given pair
  Prob=quora_model.predict(Q_Test)
  print(Prob)
  #if p>0.5 then similar
  if Prob[0]>0.5:
    return 'Quora Questions are similar'
  else:
    return 'Quora Questions are Not similar'

In [74]:
find_similarity_score('is there life after death?','Do people belive in after life')

[[0.5147049]]

'Quora Questions are similar'

In [76]:
find_similarity_score('Who is Narendra Modi?','What is identity of Narendra Modi?')

[[0.49732614]]

'Quora Questions are Not similar'

In [72]:
find_similarity_score('Should I have a hair transplant at age 24? How much would it cost?','How much cost does hair transplant require?')

[[0.20287153]]

'Quora Questions are Not similar'